:root {
  --none: none;
  --grey: #ededed;
  --zero: 0;
  --oneFive: 1.5rem;
  --defaultFont: 'Secular One', sans-serif;
  --hundred: 100%;
  --center: center;
  --flex: flex;
  --row: row;
  --block: block;
}

header {
  position: fixed;
  top: -3px;
  width: var(--hundred);
  display: var(--flex);
  align-items: var(--center);
  justify-content: space-around;
  height: 64px;
  background-color: #fff;
  z-index: 999;
}

ul {
  width: var(--hundred);
}

p, a, li, button {
  font-weight: 200;
}

a {
  text-decoration: var(--none);
}

p, a, li, button, h1, h2 {
  margin: var(--zero);
  line-height: var(--oneFive);
  font-family: var(--defaultFont);
}

.fismaNowAndThenContainer, .reimagineUrban, .urbanContent, .orientationImgDesk, .campusImgDesk, .guestImgDesk, .desktopOptionsContainer, .logoTitle, .deskLinkContainer, .navDesk, .practiceImg, .practiceTitle, .practiceContent, .practiceContributor, .keepPracticing {
  display: var(--none);
}

.startLearning, .orientationContainer, .campusContainer, .guestContainer, .optionsContainer, .videoContainer, footer {
  background-color: var(--grey);
}

.logo, .onCampus, .online, .login {
  height: 2rem;
  width: 2rem;
}

.jumboImg, .orientationImg, .campusImg {
  max-width: var(--hundred);
}

.mobileOptionsContainer {
  display: var(--flex);
}

.orientationImg, .campusImg, .guestImg {
  width: 91%;
  margin: 16px;
}

.campusImg {
  margin: 64px 0 0 16px;
}

.learnSomethingContainer {
  padding: 32px 16px;
  background-color: #c4c4c4;
}

.mainTitle {
  margin: 0 0 32px 0;
}

.titleContent {
  margin: 0 0 24px 0;
}

.buttonWrapper {
  display: var(--flex);
  justify-content: var(--center);
}

button {
  width: 90%;
  text-align: var(--center);
  background-color: #888;
  color: #fff;
  padding: 1rem;
}

.subTitle {
  margin: 0 16px 0 32px;
}

.startLearning {
  text-align: var(--center);
  padding: 32px 0;
}

ul {
  padding: 1rem;
}

li {
  list-style-type: none;
  padding: 16px;
  margin: 0 auto 8px;
  background-color: #d9d9d9;
}

video {
  padding: 0 0 24px 0;
  max-width: var(--hundred);
}

.copyright {
  padding: 16px;
}

@media screen and (min-width: 1020px) {

    header {
      display: var(--flex);
      justify-content: space-between;
    }

    .siteContainer {
      position: relative;
      top: 3rem;
    }

    .logoContainer {
      display: var(--flex);
      flex-direction: var(--row);
    }

    .logo {
      position: relative;
      top: .5rem;

    }

    .logoTitle, deskLinkContainer {
      display: inline-flex;
    }

    .navOnCampusDesk, .navOnlineDesk, .companyDesk {
      margin: 0 16px 0 0;
    }

    .navLoginDesk {
      margin: 0 24px 0 0;
    }

   .iconOncampusLink, .iconOnlineLink, .iconLoginLink {
     display: var(--none);
   }

   .jumboLearnContainer {
     display: var(--flex);
     flex-direction: var(--row);
     background-color: #888;
     padding: 32px 24px;
   }

   .learnSomethingContainer {
     width: 70%;
   }

   .practiceImg, .practiceTitle, .practiceContent, .practiceContributor, .keepPracticing {
     display: var(--block);
   }

   .keepPracticing {
     margin: 32px 24px;
     width: 60%;
   }

   .practiceImg, .practiceTitle, .practiceContent, .practiceContributor {
     width: var(--hundred);
   }

   .keepPracticingAndSubTitles {
     display: var(--flex);
     flex-direction: var(--row);
     background-color: var(--grey);
   }

   .detailsContainer {
     display: var(--flex);
     flex-direction: column;
     width: 40%;
   }

   .orientationImg, .campusImg, .guestImg {
     display: var(--none);
   }

   .orientationContainer, .campusContainer, .guestContainer {
     display: var(--flex);
     flex-direction: var(--row);
   }

   .orientationImgDesk, .campusImgDesk, .guestImgDesk {
     display: inline-flex;
     width: 35%;
     height: 35%;
     margin: 16px;
   }

   .orientationContentContainer, .campusContentContainer, .guestContentContainer {
     display: var(--flex);
     flex-direction: column;
     justify-content: var(--center);
     width: 65%;
   }

    ul {
     display: var(--none);
   }

   .desktopOptionsContainer {
     display: var(--flex);
     flex-direction: column;
   }

   .rowOneCardsContainer, .rowTwoCardsContainer {
     display: var(--flex);
     flex-direction: var(--row);
     width: var(--hundred);
     margin: 0 72px;
   }

   .cardSoftware, .cardComputerArt, .cardDesign, .cardData, .cardBusiness, .cardMarketing {
     width: 25%;
   }

   .cardSoftware, .cardComputerArt {
     margin: 0 32px 32px 0;
   }

   .cardDesign {
     margin: 0 0 32px 0;
   }

   .cardData, .cardBusiness {
     margin: 0 32px 0 0;
   }

   .softwareImg, .computerArtImg, .designImg, .dataImg, .businessImg, .marketingImg {
     max-width: var(--hundred);
   }

   .videoFismaNowAndThenContainer {
     display: var(--flex);
     flex-direction: var(--row);
   }

   .videoContainer {
     display: var(--flex);
     flex-direction: column;
   }

   video {
     max-width: 90%;
     margin: 0 24px 24px 24px;
   }

   .reimagineUrban, .urbanContent {
     max-width: 90%;
     display: inline-flex;
   }

   .reimagineUrban {
     margin: 0 0 8px 24px;
   }

   .urbanContent {
     margin: 0 0 32px 24px;
   }

   .fismaNowAndThenContainer {
     display: inline-block;
     width: 120%;
     background-color: var(--grey);
   }

   .nowAndThen, .fisma {
     display: var(--flex);
     flex-direction: var(--row);
     align-items: var(--center);
     background-color: var(--grey);
   }

   .fismaImg, .nowAndThenImg {
     width: 35%;
   }

   .fixmaContentContainer, .nowAndThenContentContainer {
     margin: 0 auto;
   }

   .fixmaContentContainer {
     width: 47%;
   }

   .copyright {
     margin: 16px 0 0 24px;
   }


}
